<div id="edit_modal" class="modal hide fade edit-modal">
	<div class="modal-header">
		<button class="close" data-dismiss="modal"><i class="icon-remove-sign"></i></button>
		<h3>Formulaire d'édition de candidat</h3>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<form id="edit_form" name="edit_form" method="post" action="" class="edit-form form-horizontal">
				<div class="wrapper row-fluid"></div>
			</form>
			<datalist id="products"></datalist>
		</div>
	</div>
	<div class="modal-footer">
		<button type="reset" class="btn btn-warning" data-dismiss="modal">Annuler</button>
		<button type="submit" class="btn btn-primary" form="edit_form">Enregistrer</button>
		<button type="button" class="btn btn-primary add_to_chronocote">Enregistrer et ajouter à Chronocote</button>
	</div>
</div>

<script type="text/html" id="form_tmpl">
	<div class="span6">
		<input type="hidden" id="action" name="action" value="update" />
		<input type="hidden" id="lot_id" name="id" value="<%=item.id%>" />

		<div class="control-group row-fluid">
			<label class="control-label span3">Source</label>
			<div class="controls span9 well well-small">
				<% if( item.source ){ %><%=item.source.capitalize()%><% } %>
			</div>
		</div>

		<div class="control-group row-fluid">
			<label class="control-label span3">Lien</label>
			<div class="controls span9 well well-small">
				<a href="<%=item.source_url%>" target="_blank"><%=item.source_url%></a>
			</div>
		</div>

		<div class="control-group row-fluid">
			<label class="control-label span3">Auction-Lot #</label>
			<div class="controls span9 well well-small">
				<%=item.auction_id%>-<%=item.lot_id%>
			</div>
		</div>

		<div class="control-group row-fluid">
			<label class="control-label span3">Titre de la vente</label>
			<div class="controls span9 well well-small">
				<%=item.auction_title%>
			</div>
		</div>

		<div class="control-group row-fluid">
			<label class="control-label span3">Date de la vente</label>
			<div class="controls span9 well well-small">
				<%=item.auction_date%>
			</div>
		</div>

		<div class="control-group row-fluid">
			<label class="control-label span3">Description du lot</label>
			<div class="controls span9 well well-small">
				<%=item.lot_title%>
			</div>
		</div>

		<div class="control-group row-fluid">
			<label class="control-label span3">Critères du lot</label>
			<div class="controls span9 well well-small">
				<%=item.lot_criteria%>
			</div>
		</div>

		<div class="control-group row-fluid">
			<label class="control-label span3">Estimations du lot</label>
			<div class="controls span9 well well-small">
				<% if( item.lot_estimates ){ %><%=item.lot_estimates.replace(/\|/, '<br>')%><% } %>
			</div>
		</div>

		<div class="control-group row-fluid">
			<label class="control-label span3">Prix du lot</label>
			<div class="controls span9 well well-small">
				<%=item.lot_price%> <%=item.lot_currency%>
			</div>
		</div>

		<div class="control-group row-fluid">
			<label class="control-label span3">Photo du lot</label>
			<div class="controls span9">
				<figure class="img-wrapper">
					<img src="<%=item.img_thumbnail%>" class="img-polaroid img-rounded">
					<figcaption>Thumbnail</figcaption>
				</figure>
				<figure class="img-wrapper">
					<img src="<%=item.img_medium%>" class="img-polaroid img-rounded">
					<figcaption>Medium</figcaption>
				</figure>
				<figure class="img-wrapper">
					<img src="<%=item.img_full%>" class="img-polaroid img-rounded">
					<figcaption>High Res</figcaption>
				</figure>
			</div>
		</div>
	</div>
	<div class="span5 offset1">
		<div class="control-group row-fluid">
			<label class="control-label span3" for="product_identifier">Produit Chonocote (identifier)</label>
			<div class="controls span9">
				<input type="text" id="product_identifier" name="product_identifier" list="products" class="control input-large uneditable-input" value="<%=item.product_identifier%>" autocomplete="off" readonly>
			</div>
		</div>
		<div class="control-group row-fluid">
			<label class="control-label span3" for="validated_title">Titre</label>
			<div class="controls span9">
				<input type="text" id="validated_title" name="validated_title" class="control input-large" value="<%=item.auction_title%>" autocomplete="off">
			</div>
		</div>
		<div class="control-group row-fluid">
			<label class="control-label span3" for="validated_description">Description</label>
			<div class="controls span9">
				<textarea id="validated_description" name="validated_description" class="control input-large" autocomplete="off"><%=item.lot_title%></textarea>
			</div>
		</div>
		<div class="control-group row-fluid tm-group">
			<label class="control-label span3" for="validated_brand">Marque</label>
			<div class="controls span9">
				<input type="text" id="validated_brand" name="validated_brand" class="control input-large tm-input" value="<%=item.product_identifier%>" autocomplete="off">
			</div>
		</div>
		<div class="control-group row-fluid tm-group">
			<label class="control-label span3" for="validated_model">Modèle</label>
			<div class="controls span9">
				<input type="text" id="validated_model" name="validated_model" class="control input-large tm-input" value="<%=item.validated_model%>" autocomplete="off">
			</div>
		</div>
		<div class="control-group row-fluid">
			<label class="control-label span3" for="validated_ref">Référence</label>
			<div class="controls span9">
				<input type="text" id="validated_ref" name="validated_ref" class="control input-large" value="<%=item.validated_ref%>" autocomplete="off">
			</div>
		</div>
		<div class="control-group row-fluid tm-group">
			<label class="control-label span3" for="validated_case">Matériau Boîtier</label>
			<div class="controls span9">
				<input type="text" id="validated_case" name="validated_case" class="control input-small tm-input" value="<%=item.validated_case%>" autocomplete="off">
			</div>
		</div>
		<div class="control-group row-fluid tm-group">
			<label class="control-label span3" for="validated_shape">Forme Boîtier</label>
			<div class="controls span9">
				<input type="text" id="validated_shape" name="validated_shape" class="control input-large tm-input" value="<%=item.validated_shape%>" autocomplete="off">
			</div>
		</div>
		<div class="control-group row-fluid tm-group">
			<label class="control-label span3" for="validated_bracelet">Bracelet</label>
			<div class="controls span9">
				<input type="text" id="validated_bracelet" name="validated_bracelet" class="control input-small tm-input" value="<%=item.validated_bracelet%>" autocomplete="off">
			</div>
		</div>
		<div class="control-group row-fluid tm-group">
			<label class="control-label span3" for="validated_movement">Mouvement</label>
			<div class="controls span9">
				<input type="text" id="validated_movement" name="validated_movement" class="control input-small tm-input" value="<%=item.validated_movement%>" autocomplete="off">
			</div>
		</div>
		<div class="control-group row-fluid tm-group">
			<label class="control-label span3" for="validated_complication">Complication</label>
			<div class="controls span9">
				<input type="text" id="validated_complication" name="validated_complication" class="control input-large tm-input" value="<%=item.validated_complication%>" autocomplete="off">
			</div>
		</div>
		<div class="control-group row-fluid">
			<label class="control-label span3" for="validated_estimation">Estimation</label>
			<div class="controls span9">
				<input type="text" id="validated_estimation" name="validated_estimation" class="control input-small" value="<%=item.validated_estimation%>" autocomplete="off">
			</div>
		</div>
		<div class="control-group row-fluid">
			<label class="control-label span3" for="validated_price">Prix de vente</label>
			<div class="controls span9">
				<input type="number" id="validated_price" name="validated_price" class="control input-small" value="<% if( item.validated_price ){%><%=item.validated_price%><%} else {%><%=item.lot_price%><%}%>" autocomplete="off" min="0">
				<input type="text" id="validated_currency" name="validated_currency" class="control input-small" value="<% if( item.validated_currency ){%><%=item.validated_currency%><%} else {%><%=item.lot_currency%><%}%>" autocomplete="off">
			</div>
		</div>
		<div class="control-group row-fluid">
			<label class="control-label span3" for="photo3">Photo</label>
			<div class="controls span9">
				<div class="row-fluid">
					<label for="photo1" class="radio inline span3">
						<input type="radio" id="photo1" name="validated_image" value="thumbnail" <% if( item.validated_image == 'thumbnail'){ %>checked<% } %>>Thumbnail
					</label>
					<label for="photo2" class="radio inline span3 offset1">
						<input type="radio" id="photo2" name="validated_image" value="medium" <% if( item.validated_image == 'medium'){ %>checked<% } %>>Medium
					</label>
					<label for="photo3" class="radio inline span3 offset1">
						<input type="radio" id="photo3" name="validated_image" value="full" <% if( item.validated_image == 'full'){ %>checked<% } %>>High Res
					</label>
				</div>
			</div>
		</div>
	</div>
</script>
